@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500;700;800&family=Montserrat:ital,wght@0,200;1,200&display=swap');

body{
     margin: 0;
     padding: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     background: #000000;
}

html{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: 'Montserrat', sans-serif;
    color: black;
} 

top, bottom {
    position: fixed;
    left: 0;
    right: 0;
    height: 90%;
}

top {
    top: 0;
    background-color: black;
}

bottom {
    bottom: 0;
    background-color: black;
}

.title {
  position: absolute;
  top: 45%;
  left: 50%;
  font-size: 180px;
  transform: translate(-47%, -50%);
  color: white;
  width: 70%;
}

.update {
  position: absolute;
  top: 45%;
  left: 50%;
  font-size: 50px;
  transform: translate(-47%, 175%);
  color: white;
  width: 70%;
}

/* top section */


/* bottom section */
